<!doctype html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Página Inicial</title>
</head>
<body>
    <h2>Página Inicial</h2>

    {% if user.is_authenticated %}
        <p>Seja bem-vindo {{ user.username }}</p>
        <a href="{% url 'logout' %}">Sair</a>
    {% else %}
        <p>Faça o login:</p>
        <a href="{% url 'login' %}">Logar</a>
    {% endif %}
</body>
</html>