{% extends 'base.html' %}

{% block title %}Clientes{% endblock %}

{% block main %}
    <div class="row">
        <div class="col"></div>

        <div class="col-6">
            <ul class="list-group">
                {% for pessoa in pessoas %}
                    <li class="list-group-item">
                        <a href="{% url 'pessoa_update' pessoa.id %}">
                            {{ pessoa.first_name }}
                        </a>
                        <a href="{% url 'pessoa_delete' pessoa.id %}">
                            <i class="fas fa-trash"></i>
                        </a>
                    </li>
                {% endfor %}
            </ul>

            <a class="btn btn-primary" href="{% url 'pessoa_new' %}">Adicionar</a>
        </div>

        <div class="col">
            <p>
                Olá, {{ user.username }}
                <a class="btn btn-info" href="{% url 'logout' %}">Sair</a>
            </p>
        </div>
    </div>
{% endblock %}